._not-found-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}
._not-found-page ._not-found-page-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: auto;
  padding: 10px 15px 10px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
